
<nav>

  <div ngbDropdown class="d-inline-block p-1">
    <button class="btn btn-danger" id="dropdownBasic1" ngbDropdownToggle>Sort</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button class="dropdown-item" (click)="setSortOrder('default')">Default</button>
      <button class="dropdown-item" (click)="setSortOrder('asc')">Name (A-Z)</button>
      <button class="dropdown-item" (click)="setSortOrder('desc')">Name (Z-A)</button>
    </div>
  </div>

  <div class="d-inline-block p-1">
    <input [(ngModel)]="nameFilter" (input)="filterVillains()" placeholder="Name filter" class="form-control">
  </div>

</nav>

<div class="card-deck" >

  <div
    (click)="flip(villain)"
    *ngFor="let villain of filteredVillains"
    class="card text-white bg-dark mb-3"
    style="width: 18rem;cursor: pointer;display: inline-flex;margin: 10px;"
  >

    <img class="card-img-top" [src]="getImgSrc(villain.imageName)" alt="{{villain.name}}" style="height: 100%;object-fit:cover;" >

    <!-- front -->
    <div *ngIf="!villain.flipped" class="card-body">
      <h5 class="card-title">{{villain.name}}</h5>
      <p class="card-text text-danger">Will destroy you with <b>{{villain.powers}}</b></p>
      <blockquote class="blockquote text-center">
        <p class="mb-0">"{{villain.buttonText}}"</p>
      </blockquote>
    </div>

    <!-- back -->
    <div *ngIf="villain.flipped" class="card-body">
      <blockquote class="blockquote text-center">
        <p class="mb-0">"{{villain.buttonText}}</p>
        <p class="mb-0 text-danger">{{villain.saying}}"</p>
      </blockquote>
      <p class="card-text">
        <button class="btn btn-sm btn-secondary" (click)="edit(villain)">Edit</button>
      </p>
    </div>

  </div><!--villain repeat-->

</div><!--card deck-->
