<div class="container-fluid" *ngIf="villain !== undefined">
  <h1>Editing {{ villain.name }}</h1>

  <div class="row">

    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <div
        class="card text-white bg-dark mb-3"
        style="width: 18rem;cursor: pointer;display: inline-flex;margin: 10px;"
      >
        <img class="card-img-top" *ngIf="villain.imageLoaded" [src]="villain.base64Image" alt="{{villain.name}}"
             style="height: 100%;object-fit:cover;">
        <img class="card-img-top" *ngIf="!villain.imageLoaded" src="./assets/images/villain-placeholder.jpeg"
             alt="{{villain.name}}" style="height: 100%;object-fit:cover;">
      </div>
    </div>

    <div class="col-md-8">
      <form novalidate (ngSubmit)="onSubmit(villainFg)" [formGroup]="villainFg">

        <div class="form-floating mb-3">
          <input type="text" class="form-control" formControlName="name" id="Name"/>
          <label for="Name">Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" formControlName="powers" id="Power"/>
          <label for="Power">Power</label>
        </div>
        <div class="form-floating mb-3">
          <input type="file" class="form-control" accept="image/*" (change)="fileChange($event)" id="Image">
          <label for="Image">Image</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" formControlName="buttonText" id="ButtonText"/>
          <label for="ButtonText">Button Text</label>
        </div>
        <div class="form-floating mb-3">
          <textarea class="form-control" formControlName="saying" id="Saying" style="height: 10rem"></textarea>
          <label for="Saying">Saying</label>
        </div>

        <button type="submit" class="btn btn-dark" [disabled]="villainFg.invalid">Submit</button>&nbsp;
        <a class="btn btn-sm btn-secondary" [routerLink]="['/']">Cancel</a>

      </form>
    </div>

  </div>

</div>
